@import "common.css";

.header_1 label {
    display: flex;
    align-items: center;
}

.header_1 label img {
    margin-right: 4px;
}

input {
    height: 48px;
    width: 100%;
}

.prev_pw {
    padding: 20px 20px 0;
}

.new_pw {
    margin-top: 50px;
}

label[for="prev_pw_confirm"] {
    margin-top: 10px;
}
