/* COMMON */

body {
    width: 100vw;
    /* min-height: 100vh; */
    /* max-height: 100vh; */
    margin: 0;
    padding: 0;
    position: relative;
    color: #5b616b;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.bg_1 {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    position: absolute;
    top: 0;
    z-index: -1;
}

.icon {
    /* width: 48px; */
    /* height: 48px; */
    padding: 12px;
    box-sizing: border-box;
}

.margin {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: column;

    width: 100%;
    position: absolute;
    position: fixed;
    z-index: 100;
    top: 0;
    transform: translateY(-100px);
    padding-top: 100px;
    overflow: visible;

    /* top: -100px; */
    /* padding-top: 40px; */
    /* box-sizing: border-box; */
    /* transition: 0.3s; */
    background: white;
}

[src="/www/img/ios/top_black.png"] {
    width: 375px;
}

.main {
    background: #f5f9fc;
    /* margin-top: 40px; */
    /* transition: 1s; */
}

.main.scrolled {
    background: white;
    transition: 0.3s;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon {
    width: 48px;
    height: 48px;
}

.header .logo {
    width: 169px;
}

.header .right {
    display: flex;
    align-items: center;
}

.header_1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 8px;
    margin: 0;
    box-sizing: border-box;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    /* Normal */
    width: 100%;
    color: #5b616b;
}

.main .header_1 {
    padding: 0 8px 0 20px;
}

.header_1 label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px 10px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.header_2 .search_input {
    width: 100%;
    display: flex;
    align-items: center;
}

.header_2 img {
    position: absolute;
    right: 30px;
}

.full_border {
    height: 1px;
    width: 100%;
    background-color: #ebf0f8;
    position: absolute;
}

.full_border.top {
    top: 0;
}

.full_border.bottom {
    bottom: 0;
}

.margin_border {
    height: 1px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #ebf0f8;
    position: absolute;
    bottom: 0;
}

label.input_label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    /* Detail */

    color: #9baab7;
}

input {
    background: #f4f8fc;
    border-radius: 10px;
    width: 100%;
    height: 38px;
    border: none;
    padding: 0 15px;
    box-sizing: border-box;
}

/* input:focus {
    outline: 2px solid #30cf8c;
    border-radius: 10px;
} */

.form_radio_btn {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* Normal */

    color: #5b616b;
}

.form_radio_btn input[type="radio"] {
    display: none;
}

.form_radio_btn label {
    width: 100%;
    display: flex;
    align-items: center;
}

.form_radio_btn input[type="radio"] + label .active,
.form_radio_btn input[type="radio"]:checked + label .inactive {
    display: none;
}

.form_radio_btn input[type="radio"]:checked + label .active,
.form_radio_btn input[type="radio"] + label .inactive {
    display: block;
}

.form_radio_btn label .store_icon {
    width: 55px;
    margin-right: 7px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #30cf8c;
    /* outline: 2px solid #30cf8c; */
}

input::placeholder {
    color: #9baab7;
}

.full_btn {
    background: #2d313e;
    width: 100%;
    border-radius: 6px;
    color: #f4f8fc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
}

.btn.disabled,
.full_btn.disabled {
    background: #ebf0f8;
    color: #9baab7;
}

.disabled .btn_pressed {
    opacity: 0;
}

.full_btn.small {
    height: 48px;
}

.full_btn.primary {
    background-color: #30cf8c;
}

.full_floating_btn_container {
    width: 100%;
    height: 130px;

    position: fixed;
    bottom: 0;

    background: linear-gradient(
        360deg,
        #ffffff 14.62%,
        rgba(255, 255, 255, 0) 100%
    );

    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;
    /* position: absolute; */
}

.full_floating_btn {
    background: #2d313e;
    border-radius: 6px;
    color: #f4f8fc;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    position: relative;
}

.full_floating_btn.primary {
    background: #2eb87e;
}

.full_floating_btn.disabled {
    background: #ebf0f8;
    color: #9baab7;
}

.page_contents_with_header1 {
    padding-top: 60px;
    box-sizing: border-box;
    min-height: 100vh;
}

.page_contents_with_header2 {
    padding-top: 110px;
    box-sizing: border-box;
    min-height: 100vh;
}

.section_devider_with_title {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    /* justify-content: center; */

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* Detail */

    color: #9baab7;
    background-color: #f4f8fc;
}

.popup_screen {
    z-index: 9999;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.popup_screen.dialog_off {
    transition: 0.3s;
}

.popup_container {
    z-index: 9900;
    background: white;
    width: 270px;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 0 0;
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.popup_container .title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 16px;
    color: #2d313e;
}

.popup_container .desc {
    margin: 6px 16px 18px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    text-align: center;
    letter-spacing: -0.078px;
    /* margin-bottom: 18px; */

    /* Normal */

    color: #5b616b;
}

.popup_container .top_border {
    background-color: #9baab7;
    height: 1px;
    width: 100%;

    /* position: absolute; */
    top: 0;
}

.popup_container .buttons {
    width: 100%;
    height: 44px;
    display: flex;
}

.popup_container .buttons .btn:active {
    background-color: rgba(155, 170, 183, 0.1);
}

.popup_container .cancel_btn {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */

    text-align: center;
    /* width: 100%; */
    /* Normal */

    color: #5b616b;
}

.popup_container .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.popup_screen .action_btn {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    /* width: 100%; */
    /* identical to box height, or 129% */

    text-align: center;

    /* Primary */
}

.popup_screen .btn_divider {
    background-color: #9baab7;
    height: 100%;
    width: 1px;

    /* position: absolute; */
    /* top: 0; */
}

.popup_container .green {
    color: #30cf8c;
}

.popup_container .red {
    color: #ff716a;
}

.btn_pressed {
    background-color: rgba(155, 170, 183, 0);
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.btn_pressed:active {
    background-color: rgba(155, 170, 183, 0.15);
}

.primary .btn_pressed {
    background-color: rgba(0, 0, 0, 0);
}

.primary .btn_pressed:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    padding: 4px 0;
    box-sizing: border-box;
    width: 178px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #000000;

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 36px;
    /* z-index: 9000; */
    display: flex;
    overflow: hidden;
}

.menu_item {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.menu_item:active {
    background-color: rgba(155, 170, 183, 0.1);
    /* background-color: red; */
}

.escape_screen {
    z-index: -9999;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.escape {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
}

.dialog_off .escape {
    background-color: rgba(0, 0, 0, 0);
}

.dialog_dialog {
    display: flex;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 8000;
}

/* .escape_screen .esc_dark { */
/* background-color: rgba(0, 0, 0, 0.2); */
/* } */

#toast {
    background: rgba(41, 48, 57, 0.9);
    z-index: 9999999;
    /* width: 100%; */
    margin: 0 20px;
    min-height: 60px;
    padding: 0 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: fixed;
    bottom: -100px;
    width: 80vw;
    /* identical to box height */

    /* SubButtonBG */

    color: #ebf0f8;

    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    transition: transform 0.3s;
}

.toast_up {
    transform: translateY(-120px);
    transition: transform 0.3s;
}

.btn_i {
    transition: 0.3s;
    transform: scale(100%);
}

.btn_i.pressed {
    transition: 0.3s;
    transform: scale(95%);
}

.invisible {
    /* animation: fadeout 0.3s; */
    display: none !important;
    /* z-index: -9999; */
    /* opacity: 0; */
    /* transition: 0s !important; */
}

.dialog {
    /* z-index: -9500; */
    position: fixed;
}

.dialog_off {
    z-index: -9999 !important;
    transition: 0.3s;
    /* position: absolute; */
    opacity: 0;
}

.modal {
    z-index: 9400;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    transition: 0.3s;
    /* background: red; */
}

.modal_container {
    z-index: 9401;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    transition: 0.3s;
}

.dialog_off .modal_container {
    transform: translateY(100%);
    transition: 0.3s;
}

.modal .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 24px;
    height: 60px;
}

.modal .modal_title {
    color: #2d313e;
    font-size: 18px;
    font-weight: 500;
}

.modal .modal_item {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 54px;
    font-size: 14px;
    position: relative;
}

.modal .modal_item:active {
    background: rgba(155, 170, 183, 0.1);
}

.slide-in {
    animation: change 0.5s ease forwards;
}

@keyframes pushFromRight {
    from {
        transform: translateX(100%);
        visibility: visible;
    }

    to {
        transform: translateX(0%);
    }
}

.page_slide_in {
    animation: pushFromRight 0.3s ease forwards;
}

.slide_up_slightly {
    animation: slide-up-slightly 1s cubic-bezier(0.16, 0.83, 0.41, 0.99);
}

@keyframes slide-up-slightly {
    from {
        transform: translateY(50px);
    }

    to {
        transfrom: translateY(0);
    }
}

.hide_and_up {
    animation: hide-and-up 1s cubic-bezier(0.16, 0.83, 0.41, 0.99);
    opacity: 0;
    max-height: 0px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@keyframes hide-and-up {
    from {
        opacity: 1;
        /* height: 231px; */
        max-height: 1000px;
    }

    30% {
        opacity: 0;
        /* height: 231px; */
        max-height: 1000px;
        margin: 0;
    }

    to {
        /* height: 0; */
        max-height: 0px;
        margin: 0;
    }
}
