@import "./common.css";
@import "./complete.css";

.header label {
    display: flex;
    align-items: center;
}
.header label img {
    margin-right: 4px;
}

.explain {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #5b616b;
    padding-top: 20px;
    box-sizing: border-box;
}

input {
    height: 60px;
    margin: 20px 0 10px 0;
}
