@import "./common.css";

/* BG */

.bg {
    position: absolute;
    display: flaot;
    width: 100%;
    height: 792px;
    left: 0px;
    top: -112px;
    z-index: -1;

    background: linear-gradient(
        180deg,
        #f4f8fc 13.84%,
        rgba(244, 248, 252, 0) 99.98%
    );
}

/* TIPS */

.section--tips {
    position: relative;
    margin-top: 100px;
}

.section_title {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.section_title div {
    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    color: #2d313e;
    margin-right: 5px;
}

.section_title img {
    width: 20px;
}

.tips {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: scroll;
    white-space: nowrap;
}

.tips::-webkit-scrollbar {
    display: none;
}

.tip {
    width: 141px;

    background-color: white;
    border: 1px solid #ebf0f8;
    border-radius: 20px;
    margin-right: 10px;
}

.tip:active {
    background-color: #ebf0f8;
}

.tip .title {
    padding: 15px 8px 0 15px;
    box-sizing: border-box;

    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #2d313e;
}

.section--tips .tips .tip img {
    width: 141px;
}

/* 매장 카드 */
.section--stores {
    margin-top: 30px;
    position: relative;
}

.store_card {
    height: 220px;
    /* background: #ddf9ff; */
    align-content: space-between;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.store_card_bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.store_card.inaccessible .store_card_bg,
.store_card.inaccessible .store_icon_container,
.store_card.inaccessible .store_name,
.store_card.waiting .store_card_bg,
.store_card.waiting .store_icon_container,
.store_card.waiting .store_name {
    filter: grayscale(100%);
}

.store_card.inaccessible .store_name,
.store_card.waiting .store_name {
    color: #9baab7;
}

.store_card .more_icon,
.store_card .close_icon {
    position: absolute;
    right: 0px;
    z-index: 11;
}

.store_card.inaccessible .more_icon,
.store_card.waiting .more_icon,
.store_card.accessible .more_icon {
    display: none;
}

.store_card.admin_access .close_icon {
    position: absolute;
    display: none;
}

.store_card .store_icon_container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.store_card .store_icon {
    width: 153px;
    height: 104px;
}

.store_card .store_tag {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 15px;
    bottom: 15px;

    width: 94px;
    height: 30px;

    background: #ffffff;
    border-radius: 20px;

    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;
    letter-spacing: -0.408px;

    /* Black */

    color: #2d313e;
}

.store_card.waiting .store_tag {
    color: #30cf8c;
}

.store_card.inaccessible .store_tag {
    color: #ff716a;
}

.store_card .store_tag img {
    display: none;
}

.store_card.admin_access .store_tag img {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.store_card.accessible .store_tag {
    display: none;
}

.store_card .store_name {
    height: max-content;
    position: absolute;
    right: 17px;
    bottom: 19px;

    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-align: right;
    letter-spacing: -0.408px;

    /* Black */

    color: #2d313e;
}

.store_card .menu_item {
    display: none;
}

.store_card.admin_access .for_admin {
    display: flex;
}

.store_card.accessible .for_staff {
    display: flex;
}

.add_store_container {
    width: 335px;
    height: 60px;

    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 700;
    font-size: 16.3333px;
    line-height: 26px;
    position: relative;

    color: #9baab7;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 200px;
}

.add_store_button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 10px dashed #ebf0f8;
    position: absolute;
    border-radius: 16px;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
}

.add_store_container .add_icon {
    width: 28px;
    margin-right: 6px;
    fill: #9baab7;
}

.add_store_dialog {
    background: white;
    width: 335px;
    border-radius: 20px;
    /* position: relative; */
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add_store_dialog .close_icon {
    position: absolute;
    top: 6px;
    left: 6px;
}

.add_store_dialog .message {
    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    text-align: center;
    color: #2d313e;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_store_dialog .btn {
    height: 160px;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #f4f8fc;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* align-items: flex-end; */
}

.add_store_dialog .apply_btn {
    margin-bottom: 10px;
}

.add_store_dialog ._icon {
    width: 30px;
}

.add_store_dialog .btn .btn_title {
    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 4px;

    color: #2d313e;
}
.add_store_dialog .btn .btn_desc {
    font-family: "Noto Sans CJK KR";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    margin-top: 4px;
    /* or 19px */

    letter-spacing: -0.24px;

    /* Normal */

    color: #5b616b;
}

.add_store_dialog .btn .arrow_icon {
}
