@import "common.css";

.header_1 label {
    display: flex;
    align-items: center;
}

.header_1 label img {
    margin-right: 4px;
}

.email_section {
    display: flex;
    align-items: center;
    padding: 40px 20px 0;
    box-sizing: border-box;

    font-weight: 800;
    font-size: 16px;
    line-height: 17px;
    color: #5b616b;
}

.email_section img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.nickname_section {
    margin-top: 16px;
}

input {
    height: 48px;
    width: 100%;
}
